{% extends 'main/layout.html' %}

{% block title %} Новости на сайте{% endblock %}}

{% block content%}
    <div class="features">
        <h1>Новости на сайте</h1>
        <ul class="'my_news">
        {# Проверка существования хотя бы одной записи #}
        {% if news %}
            {% for e in news %}
                    <li class="left">
                        <div class="content"><h3>{{ e.title }}</h3>
                        <p>{{ e.anonse }}</p>
                        <button class="btn btn-warning">Читать полностью</button></div>
                    </li>
            {% endfor %}
        {% else  %}
            <p>Список новостей пуст</p>
        {% endif %}
        </ul>
    </div>
{% endblock %}